.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

examples/*
datasets/*
/*datasets/*
*/auth*

exercises_github
Course material

class.csv 
funda.csv
googleplay.csv

ufo.csv
youtube.csv